.header-wrapper {
    height: 100px;
    width: 100%;
    background-color: #2E475C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 50px;
}

.header-left-wrapper {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.header-right-wrapper {
    width: 150px;
}

.style-text-header{
    font-size: 30px;
    width: 400px;
    margin-left:20px;
    color: #FFFFFF;
    border-right: 3px solid #FFFFFF;
}

.style-text-header-right {
    font-size: 30px;
    width: 200px;
    color: #FFFFFF;
    border-right-width: 1px; 
}

.image-header-wrapper {
    height: 40px;
    width: 40px;
}

.modal-html {
  height: 800px;
  width: 500px;
  background-color: #ffffff;
  overflow: auto;
  margin-left: 250px;
  margin-top: 50px;
  border: 1px solid #000000;
  outline: none;
}