.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-view-wrapper {
    height: 900px;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.sroll-main-view {
    overflow-y: scroll;
    height: 950px;
}