.footer-wrapper {
    height: 150px;
    width: 100%;
    border-top: 3px solid #000000;
    text-align: center;
}

.image-wrapper {
    height: 40px;
    width: 40px;
    border-radius: 20px 20px;
    margin-left: 10px;
}